.backgroundAd1 {
    background-color: #EAD0B0;
}

.bgAd2Img1 {
    background-image: url('https://lorempixel.com/output/city-q-c-1080-250-6.jpg')
}

.bgAd2Img2 {
    background-image: url('https://lorempixel.com/output/city-q-c-1080-250-1.jpg')
}


